header {
    background-image: url('/static/pics/head_ban.png');
}

body {
    padding: 70px;
    background-color: rgb(213, 217, 221);
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    padding: 20px;
    background-color: rgb(161, 161, 161);
    margin-top: 20px;
    margin-bottom: 20px;
    
  }

  p {
      margin-top: 20px;
      margin-bottom: 20px;
  }
