<!DOCTYPE html>
<html>
{% load  static %}
<head>
<meta charset='utf-8'>
<link rel="stylesheet" href="{%static 'kalorilaskuri/style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Kalorilaskuri </title>
</head>
<h1> Kalorilaskuri </h1> 
<body>
<header><img src="pics/head_ban.png" alt="logo" class="responsive"></header>
    <div class="responsive">
        
        <p>Aseta päivän kaloritavoite: <input id="kaloritavoite" type="text" > </p>
        <p>Valitse ruoka-aineet: <select id="ruoka_id">
        {% for ruoka in ruoat %}
            <option value={{ ruoka.kalori_per_100g }}> {{ruoka}} </option>
        {% endfor %}
        </select>
        <button onclick="myFunction()">Lisää 🍴🍕</button></p>
        <ul id="select-container"></ul>
        <button onclick="deleteFunction()">Poista valittu </button>
        <button onclick="resetFunction()">Poista kaikki</button>
    <div>Kalorit yhteensä: <span id="kalorit">0</span><div>
</div>

<script>

let count = 0;
let kalorit_yhteensa;

function myFunction() {
    let selected = document.querySelector('#ruoka_id');
    let ruoka_listaan = selected.options[selected.selectedIndex].textContent

    count += +selected.value;
    
    let optionElem = document.createElement('LI');
    optionElem.textContent = ruoka_listaan + ' ' + selected.value;

    let selectContainer = document.querySelector('#select-container');
    selectContainer.appendChild(optionElem);

    let kaloritavoite = document.querySelector('#kaloritavoite').value;


    kalorit_yhteensa = document.querySelector('#kalorit');
    kalorit_yhteensa.textContent = count + ' / ' + kaloritavoite;
}

function resetFunction() {
   kaloritavoite = document.querySelector('#kaloritavoite').value;
   const elmnt = document.getElementById("select-container"); elmnt.remove();
   count = 0;
   kalorit_yhteensa.textContent = count + ' / ' + kaloritavoite;
}
</script>


</body>







</html>
