<!DOCTYPE html>
<html>
{% load  static %}
<head>
<meta charset='utf-8'>
<link rel="stylesheet" href="{%static 'kalorilaskuri/style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Kalorilaskuri </title>
</head>
<h1> Kalorilaskuri </h1> 
<body>

    <select id="ruoka_id">
    {% for ruoka in ruoat %}
        <option value={{ ruoka.kalori_per_100g }}> {{ruoka}} </option>
    {% endfor %}
    </select>
    <button onclick="myFunction()">👀</button>
    <ul id="select-container"></ul>
    <div>Kalorit yhteensä: <span id="kalorit">0</span></div>
    
<script>

let count = 0;

function myFunction() {
    let selected = document.querySelector('#ruoka_id');
    let ruoka_listaan = selected.options[selected.selectedIndex].textContent

    count += +selected.value;
    
    let optionElem = document.createElement('LI');
    optionElem.textContent = ruoka_listaan + ' ' + selected.value;

    let selectContainer = document.querySelector('#select-container');
    selectContainer.appendChild(optionElem);

    let kalorit_yhteensa = document.querySelector('#kalorit');
    kalorit_yhteensa.textContent = count;
}
</script>


</body>







</html>
