<!DOCTYPE html>
<html>
{% load  static %}
<head>
<meta charset='utf-8'>
<link rel="stylesheet" href="{%static 'css/style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Kalorilaskuri </title>
</head>

<body>

<header><img src="{%static 'pics/logo_head.png'%}" alt="logo" class="header-img"></header>
<div class="responsive">
        
    <p>Aseta päivän kaloritavoite: <input id="kaloritavoite" type="text" > </p>
    <p>Valitse ruoka-aineet: <select id="ruoka_id">
    {% for ruoka in ruoat %}
        <option value={{ ruoka.kalori_per_100g }}> {{ruoka}} </option>
    {% endfor %}
    </select>

    <button onclick="myFunction()">Lisää 🍴🍕</button></p>
    <ul id="select-container"></ul>
    <button onclick="deleteFunction()">Poista valittu </button>
    <button onclick="resetFunction()">Poista kaikki</button>
    
    <div>Kalorit yhteensä: <span id="kalorit">0 / 0</span><div>
    

</div>

<script src="{%static 'js/index.js'%}"></script>



</body>







</html>
